
/**
* Table of Contents:
*
* 01.0 - Global
* 02.0 - Header
* 03.0 - Drawer with menu
* 04.0 - Parallax styles
* 05.0 - Recent works
* 06.0 - Services
* 07.0 - Blog
* 08.0 - Testimonials
* 09.0 - Contact
* 10.0 - Footer
* 11.0 - Responsive styles
* -----------------------------------------------------------------------------
*/
/**wai bu ban yun */

.nav-arrows span {
	position: absolute;
	z-index: 2000;
	left: 48.5%;
	width: 50px;
	height: 50px;
	border: 8px solid #ddd;
	border: 8px solid rgba(256,256,256,0.3);
	text-indent: -999999px;
	margin-top: -50px;
	border-left: none;
	border-top: none;
	cursor: pointer;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-arrows span:hover {
	border-color: rgba(256,256,256,0.9);
}

/* /////////////////////////////////////////////////////////////////////
//  01 - Global
/////////////////////////////////////////////////////////////////////*/

* {outline: none !important;}

::selection {
	background-color: #49575e;
	color: #fff;
}

html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	overflow-y: scroll;
}

body {
	color: #49575e;
	background: #ffffff;
}

p {
	font-size: 17px;
	margin: 0 0 20px 0;	}

img {max-width: 100%;}

a {
	text-decoration: none;
	outline: none;
}

a{
	color: #ddd;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;
}




h1, h2, h3, h4, h5, h6{
	margin: 0 0 15px 0;
	color: #49575e;
	font-family: 'Alegreya Sans';
}

.btn{border-radius: 0;}
.btn-o {
	background: #49575e;
	color: white;
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
}
.btn-o:hover {
    background: #49575e;
    color: white;
		box-shadow:0px 0px 8px 0px rgba(0,0,0,0.12),0px 8px 8px 0px rgba(0,0,0,0.24);
}
.btn.btn-o-white {
    border: 1px solid white;
    color: white;
    background: transparent;
}
.btn.btn-o-white:hover {
    background: white;
    color: #49575e;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.suofang{
	width:80%;
	margin: 0 auto;
}
.shangkongbai70{
	margin-top: 70px;
}
.shangkongbai50{
	margin-top: 50px;
}
.shangxiakongbai50{
	margin-top: 50px;
	margin-bottom: 50px;
}
.shangxiakongbai70{
	margin-top: 70px;
	margin-bottom: 70px;
}
/*////////////////////////////////////////////////////////////////////////
//  02 - Header
///////////////////////////////////////////////////////////////////////*/

#header {
	position: relative;
	padding: 0 !important;
}

#header.header-wrapper {
	background: url(../images/header-bg2.jpg) no-repeat center center;
	background-size: cover;
	display: table;
	height: 80vh;
	width: 100%;
	position: relative;
	z-index: 1;
	overflow-x: hidden;
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    #header.header-wrapper {
		height: auto;
		min-height: 100vh;
		padding: 0px;
	}
}

#header.header-wrapper .header-wrapper-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#header .top {
	position:fixed;
	top:0;
	width: 100%;
	padding: 30px;
	height: auto;
	z-index: 500;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}

#header .top.solid {
    background: #49575E;
    padding-top: 15px;
    padding-bottom: 15px;
		box-shadow: 0 0 8px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.24);
}

#header .top h1{
	margin-bottom: 0;
}
#header .top.solid .toggleDrawer i {
    padding-top: 8px;
}

#header .logo, #header .toggleDrawer{
	font-family: 'Alegreya SC';
	color: white;
}

#header .slogan{
	font-size: 5em;
	margin-bottom: 25px;
	line-height: 1em;
	font-family: 'Nixie One';
	color: white;
}

#header .secondary-slogan{
	font-size: 1.6em;
	color: white;
	line-height: 1.5em;
	font-family: 'Alegreya SC';
}

#header .bottom {
    bottom: 10%;
	display: block;
	position: absolute;
	width: 100%;
	z-index: 3;
}
#header .bottom a img {
    width: 50px;
}
#header .bottom a {
    opacity: 0.7;
}
#header .bottom a:hover {
    opacity: 1;
}


/*////////////////////////////////////////////////////////////////////////
//  03 - Drawer with menu
///////////////////////////////////////////////////////////////////////*/

#drawer-right {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin-right: -300px;
    background: #49575e;
    width: 300px;
    padding: 20px;
    z-index: 999;
		box-shadow: 0 0 8px rgba(0,0,0,0.12), -8px 0 8px rgba(0,0,0,0.24);
}

#drawer-right h1, #drawer-right h2{color: white;}

#drawer-right .nav-pills>li>a {
	font-size: 18px;
	border-radius: 0;
}

#drawer-right .social{margin-top: 30px}
#drawer-right .social ul {
    list-style: none;
    padding-left: 20px;
}
#drawer-right .social ul > li {
    display: inline-block;
}
#drawer-right .social ul > li > a:hover{
	color: white;
}

#buttontext {
    height: 100px;
    line-height: 100px;}


/*////////////////////////////////////////////////////////////////////////
//  04 - Parallax styles
///////////////////////////////////////////////////////////////////////*/

.content-block{
	background:transparent no-repeat center center fixed;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	background-size:100%;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	overflow:hidden;
}
.parallax{
	padding: 80px 0;
}

.block-body {
	margin-top: 20px;
}

#services {
	background-image: url(../images/paper.jpg);
	color: white;
}
#parallax {
	background-image: url(../images/yellow_bgimg2.jpg);
	color: white;
}
#contact {
	background-image: url(../images/newsletter-bg.png);
	color: white;
	background-color: #405162;
}
#parallax h1{
	margin-bottom: 30px;
	margin-top: 30px;
	color: white;
	text-align: left;
}
#parallax p{
text-align: left;
margin-top: 17px
}




/*////////////////////////////////////////////////////////////////////////
//  05 - Recent works
///////////////////////////////////////////////////////////////////////*/

.recent-work {
    width: 100%;
    background: #ffffff;
    display: table;
    text-align: center;
    vertical-align: middle;
    padding-top: 12.5%;
		padding-bottom: 12.5%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 30px;
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
}

.recent-work span{
	margin-top: -18px;
	opacity: 0;
	position: relative;
	z-index: 1;
}
.recent-work:before {
    background: rgba(2, 56, 58, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    opacity: 0;
    -o-transition: all .2s;
	-ms-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.recent-work:hover {
    background-size: 200%;
    background-position: center;
		box-shadow:0px 0px 8px 0px rgba(0,0,0,0.12),0px 8px 8px 0px rgba(0,0,0,0.24)
}
.recent-work:hover:before, .recent-work:hover span {
    opacity: 1;
}





/*////////////////////////////////////////////////////////////////////////
//  06 - Services
///////////////////////////////////////////////////////////////////////*/

#services h1, #services h2{
	color: white;
}
.service i {
    font-size: 60px;
}
.service {
    padding: 0 25px;
}




/*////////////////////////////////////////////////////////////////////////
//  07 - Blog
///////////////////////////////////////////////////////////////////////*/


#blog .blog-post img {
    margin-bottom: 20px;
}
#blog .date {
    margin-bottom: 15px;
    font-style: italic;
}


/*////////////////////////////////////////////////////////////////////////
//  08 - Testimonials
///////////////////////////////////////////////////////////////////////*/


#testimonials{
	text-align: center;
}
#testimonials .testimonial > img {
    border-radius: 100%;
    margin-bottom: 15px;
}
#testimonials .testimonial {
	padding: 25px;
}


/*////////////////////////////////////////////////////////////////////////
//  09 - Contact
///////////////////////////////////////////////////////////////////////*/


#contact{
	color: white;
}
#contact h1{color: white}

.form-control-white {
    background: transparent;
    color: white;
}

.form-control-white::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
.form-control-white:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
    opacity:  1;
}
.form-control-white::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
    opacity:  1;
}
.form-control-white:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    white;
}


/*////////////////////////////////////////////////////////////////////////
//  10 - Footer
///////////////////////////////////////////////////////////////////////*/


#footer{ background: #49575e; color: white;}



/*////////////////////////////////////////////////////////////////////////
//  11 - Responsive styles
///////////////////////////////////////////////////////////////////////*/


@media (max-width: 767px){
	#header .slogan {
		font-size: 2.8em;
	}

	#header .secondary-slogan {
		font-size: 1.2em;
	}

	#header .bottom {
		bottom: 13%;
	}

	.blog-post {
		margin-bottom: 40px;
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);

	}

	.recent-work {
		background-position: center;
	}

	.recent-work:before {
		opacity: 1;
	}

	.recent-work span {
		opacity: 1;
	}
}

.portfolio-filter {
    margin-top: 50px;
    margin-bottom: 15px;
}

.portfolio-filter ul li {
    display: inline;
}

.portfolio-filter ul li a {
	display: inline-block;
	font-size: 24px;
	margin: 10px 30px;
	padding: 5px 15px;
	position: relative;
}

.portfolio-filter ul li a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #FBC02D;
	content: '';

	-webkit-transition: top 0.3s;
	   -moz-transition: top 0.3s;
		 -o-transition: top 0.3s;
			transition: top 0.3s;
}

.portfolio-filter ul li a::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	background:#FBC02D;
	content: '';

	-webkit-transition: height 0.3s;
	   -moz-transition: height 0.3s;
		 -o-transition: height 0.3s;
			transition: height 0.3s;
}

.portfolio-filter ul li a:hover::before {
	top: 100%;
	opacity: 1;
}

.portfolio-filter ul li a:hover::after {
	height: 100%;
}

@media (max-width: 480px) {
	#drawer-right {
		padding: 10px 20px;
	}

	#drawer-right .nav-pills>li>a {
		font-size: 17px;
	}

	.nav-stacked>li+li {
		margin-top: 0;
	}

	.nav>li>a {
		padding: 8px 15px;
	}

	#drawer-right .social {
		margin-top: 5px;
	}

	#header {
		background-size: cover;
	}
}
